section.s-adress.s--dark(style="background-image: url(static/images/content/adress/bg-1.png);")
	.container
		.adress
			.s-header
				h2.s-title Address
				.s-content
					p.adress__description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin luctus felis sit amet ipsum volutpat vestibulum. Nunc eleifend convallis eros, ut tristique justo sagittis quis. Suspendisse fermentum imperdiet sapien in sodales. Vestibulum et mi commodo, tincidunt tortor vitae, porttitor augue. Fusce et fermentum ipsum. Eget lobortis purus. Etiam ultricies, tortor id porta lacinia, neque nulla semper vullamcorper feugiat convallis. Donec sagittis vulputate ligula. Ut quis neque felis. Phasellus venenatis rutrum dui eget tristique.
					ul.adress__list
						li.adress__item
							a(href="").adress__link Lava Hall, 34th Street California, United Street
					ul.adress__list
						li.adress__item
							a(href="phone:+744321456").adress__link +44-321-456 / +44-325-458
					ul.adress__list
						li.adress__item
							a(href="mailto:example@mail.com").adress__link example@mail.com / info@mail.com