section.s-event
	.container
		.event
			h2.title-section.event__title Event Shedule
			.event__body
				.event__description
					p.event__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin luctus felis sit amet ipsum volutpat vestibulum. Nunc eleifend convallis eros, ut tristique justo sagittis quis. Suspendisse fermentum imperdiet sapien in sodales. Vestibulum et mi commodo, tincidunt tortor vitae, porttitor augue. Fusce et fermentum ipsum.
					p.event__text Eget lobortis purus. Etiam ultricies, tortor id porta lacinia, neque nulla semper vullamcorper feugiat convallis. Donec sagittis vulputate ligula. Ut quis neque felis. Phasellus venenatis rutrum dui eget tristique.
				.event-shedule
					.event-shedule__title
						span.event-shedule__data 21st June 2019
						span.event-shedule__time 10:00am to 3:00pm
					ol
						li.event-shedule__item Eget lobortis purus. Etiam ultricies, tortor id porta lacinia, neque nulla Ut quis felis. Phasellus venenatis rutrum dui eget istique.
						li.event-shedule__item Lobortis purus. Etiam ultricies, tortor id porta lacinia, neque nulla.
						li.event-shedule__item Purus. Etiam ultricies, tortor id porta lacinia, neque nulla Ut
		include ../../modules/forms/registion