section.s-hello
	.hello-banner-wrapper
		.hello-banner(style="background-image: url(static/images/content/hello/1.jpg);")
	.container
		.hello
			.hello__body
				.hello__label Hello,
				h2.hello__title We arranged wildlife conference
				p.hello__text An entrepreneur, writer, philanthropist and an unshakable optimist dedicated to helping you become the person you most want to be.
				a.btn
					span.btn__text read more
					+icon('angle-right','btn__arrow') 