section.s-speakers
	.container
		.speakers
			.s-header
				h2.s-title Speakers
				.s-content
					p.speakers__description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin luctus felis sit amet ipsum volutpat vestibulum. Nunc eleifend convallis eros, ut tristique justo sagittis quis. Suspendisse fermentum imperdiet sapien in sodales. Vestibulum et mi commodo, tincidunt tortor vitae, porttitor augue. Fusce et fermentum ipsum. Eget lobortis purus. Etiam ultricies, tortor id porta lacinia, neque nulla semper vullamcorper feugiat convallis. Donec sagittis vulputate ligula. Ut quis neque felis. Phasellus venenatis rutrum dui eget tristique.
			.s-body
				.speakers__row
					.speakers__item
						a(href="#video-1").video-block.video-popup-link
							.video-block__banner(style="background-image: url(static/images/content/speakers/1.jpg);")
								.video-block__content
									+icon('play-button','video-block__btn')
									span.video-block__text Watch Interview about this event
						.speakers__card
							span.speakers__name Devid Smith
							span.speakers__post CEO of ABC Group.
					.speakers__item
						a(href="#video-2").video-block.video-popup-link
							.video-block__banner(style="background-image: url(static/images/content/speakers/2.jpg);")
								.video-block__content
									+icon('play-button','video-block__btn')
									span.video-block__text Watch Interview about this event
						.speakers__card
							span.speakers__name Shahara Young
							span.speakers__post CEO of DPO Ltd.
					.speakers__item
						a(href="#video-3").video-block.video-popup-link
							.video-block__banner(style="background-image: url(static/images/content/speakers/3.jpg);")
								.video-block__content
									+icon('play-button','video-block__btn')
									span.video-block__text Watch Interview about this event
						.speakers__card
							span.speakers__name Wish Lack
							span.speakers__post CEO of LMN Co.
			.s-footer
				p.speakers__footer If you are interest Save Animal, Please feel free to Join with us today as a 
					a(href="") Volunteer
							