@font-face {
	font-family: 'lato_bold';
	src: url('./../fonts/lato/latobold/latobold.woff2') format('woff2'),
	url('./../fonts/lato/latobold/latobold.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'ptserif_regular';
	src: url('./../fonts/ptserif/ptserif/ptserif.woff2') format('woff2'),
	url('./../fonts/ptserif/ptserif/ptserif.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'ptserif_bold';
	src: url('./../fonts/ptserif/ptserifbold/ptserifbold.woff2') format('woff2'),
	url('./../fonts/ptserif/ptserifbold/ptserifbold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: 'ptserif_italic';
	src: url('./../fonts/ptserif/ptserifitalic/ptserifitalic.woff2') format('woff2'),
	url('./../fonts/ptserif/ptserifitalic/ptserifitalic.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}