footer
	.container
		.footer
			.footer__copyright © 2018 saveanimalexample.org
			ul.socials
				li.socials__item
					a(href="").socials__link
						+icon('facebook','socials__icon')
				li.socials__item
					a(href="").socials__link
						+icon('twitter','socials__icon')
				li.socials__item
					a(href="").socials__link
						+icon('linkedin','socials__icon')
				li.socials__item
					a(href="").socials__link
						+icon('google-plus','socials__icon')
				li.socials__item
					a(href="").socials__link
						+icon('youtube','socials__icon')